doctype html
html
  head
    title= title
    block stylesheets
        link(rel='stylesheet', href='/stylesheets/main.css')
  body
    div(ng-app="howits-chat",ng-cloak)
      block content

    block javascripts
        script(src="/angular/angular.min.js")
        script(src="/javascripts/main.js")
